<header>
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      {{#link-to 'index'}}
        <h2><strong>SENSORS DASHBOARD</strong></h2>
      {{/link-to}}
      <span class="flex"></span>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
</header>
