{{#paper-item class='md-3-line sensor accent-box' as |controls|}}
  <div class='md-list-item-text'>
    <p class='description'>{{sensor.description}}</p>
  </div>
  <div class='md-secondary'>
    <span>Activity</span>
    {{#controls.button warn=true fab=true mini=true}}
      {{motionAmount}}
    {{/controls.button}}
    {{#controls.button iconButton=true class='delete' onClick=(action this.attrs.onDeleteAction sensor)}}
      {{paper-icon 'Delete'}}
    {{/controls.button}}
  </div>
  {{paper-divider}}
{{/paper-item}}

