{{#paper-item class='md-3-line sensor'}}
  <div class='md-list-item-text'>
    <p class='description'>{{sensor.description}}</p>
  </div>
  <span style='margin-top:22px;'>Activity {{#paper-button accent=true mini=true}}{{motionAmount}}{{/paper-button}}</span>
  {{paper-divider}}
{{/paper-item}}
