$primary: 'dark';
$accent: 'light-dark';
$warn: 'red';

@import 'color-palette';

$color-dark: (
    '50' : #a6a6a6,
    '100' : #7f7f7f,
    '200' : #636363,
    '300' : #404040,
    '400' : #303030,
    '500' : #212121,
    '600' : #121212,
    '700' : #020202,
    '800' : #000000,
    '900' : #000000,
    'A100' : #bd8484,
    'A200' : #8e4d4d,
    'A400' : #433232,
    'A700' : #302b2b,
    'contrast': #ffffff
);

$color-light-dark: (
  '0': #e0e0e0,
'50' : #e8e8e8,
'100' : #c6c6c6,
'200' : #a1a1a1,
'300' : #7b7b7b,
'400' : #5e5e5e,
'500' : #424242,
'600' : #3c3c3c,
'700' : #333333,
'800' : #2b2b2b,
'900' : #1d1d1d,
'A100' : #424242,
'A200' : #eb4a4a,
'A400' : #ff0303,
'A700' : #e90000,
'contrast': #ffffff
);

$colors: map-merge($colors, (
'dark': $color-dark,
'light-dark': $color-light-dark
));

$background: 'light-dark';
@import 'ember-paper';

body {
  background-color: #303030;
};

.light-text {
  color: color($primary, 'contrast') !important;
};
