$primary: 'netflix-dark';
$accent: 'light-dark';
$warn: 'red';

@import 'color-palette';

$color-netflix-dark: (
'50' : #929292,
'100' : #6b6b6b,
'200' : #4f4f4f,
'300' : #2c2c2c,
'400' : #1c1c1c,
'500' : #0d0d0d,
'600' : #000000,
'700' : #000000,
'800' : #000000,
'900' : #000000,
'A100' : #af6a6a,
'A200' : #743f3f,
'A400' : #2c2121,
'A700' : #1b1818,
'contrast': #e50914
);

$color-light-dark: (
'0': #e0e0e0,
'50' : #e8e8e8,
'100' : #c6c6c6,
'200' : #a1a1a1,
'300' : #7b7b7b,
'400' : #5e5e5e,
'500' : #424242,
'600' : #3c3c3c,
'700' : #333333,
'800' : #2b2b2b,
'900' : #1d1d1d,
'A100' : #424242,
'A200' : #eb4a4a,
'A400' : #ff0303,
'A700' : #e90000,
'contrast': #ffffff
);

$colors: map-merge($colors, (
'netflix-dark': $color-netflix-dark,
'light-dark': $color-light-dark
));

$background: 'light-dark';
@import 'ember-paper';

body {
  background-color: color($primary, '500');
};

.light-text {
  color: #a6a6a6 !important;
  font-size: 1rem !important;
};
