{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-button iconButton=true}}
      {{paper-icon "menu"}}
    {{/paper-button}}
    {{#link-to 'index'}}
      <h2>Sensors Dashboard</h2>
    {{/link-to}}
    <span class="flex"></span>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
<div class='main-content'>
  {{outlet}}
</div>
