{{#bs-navbar type='inverse' as |navbar|}}
    <div class="navbar-header">
        {{#link-to "index" class="navbar-brand"}}Sensor-dashboard{{/link-to}}
    </div>
{{/bs-navbar}}
<div class='container'>
  {{outlet}}
</div>
