{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#link-to 'index'}}
      <h2>Sensors Dashboard</h2>
    {{/link-to}}
    <span class="flex"></span>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
<div class='main-content'>
  {{outlet}}
</div>
