<div class='layout-row layout-xs-column'>
  <div class='flex-30 flex-offset-35 flex-offset-xs-0 flex-xs-100'>
    {{#paper-list}}
      {{#paper-content class="md-whiteframe-z1"}}
        {{#each model as |m|}}
          {{#paper-item class='md-3-line'}}
            <div class='md-list-item-text'>
              <p class='light-text'>{{m}}</p>
            </div>
            {{paper-divider}}
          {{/paper-item}}
        {{else}}
          {{#paper-item class='md-3-line'}}
            <div class='md-list-item-text'>
              <p class='light-text'>No events yet...</p>
            </div>
            {{paper-divider}}
          {{/paper-item}}
        {{/each}}
      {{/paper-content}}
    {{/paper-list}}
  </div>
</div>
