<div class='row'>
  <div class='col-md-4 col-md-offset-4'>
    {{#each model as |m|}}
      {{#bs-alert visible=true fade=true type='warning' dismissible=true}}
        {{m}}
      {{/bs-alert}}
    {{else}}
      {{#bs-alert visible=true fade=true type='info' dismissible=true}}
        No events yet.
      {{/bs-alert}}
    {{/each}}
  </div>
</div>
