<div class='layout-row'>
  <div class='flex-30 flex-offset-35 flex-offset-sm-30 flex-sm-40 flex-offset-xs-0 flex-xs-100'>
    {{#paper-card class='login-form' as |card|}}
      {{#card.content}}
        <h3>Sign In</h3>
        {{#paper-form as |form|}}
          {{form.input
            block=true
            label='Email'
            id='email'
            required=true
            type='email'
            value=email
            icon='email'
            onChange=(route-action 'onEmailChange')
          }}
          {{form.input
            block=true
            label='Password'
            id='password'
            required=true
            type='password'
            value=password
            icon='vpn-key'
            onChange=(route-action 'onPasswordChange')
          }}
            <div class='layout-row layout-align-center'>
              {{#if spinner}}
                {{paper-progress-circular warn=true diameter=50}}
              {{else}}
                {{#paper-button id="login" onClick=(route-action 'login') disabled=form.isInvalid raised=true primary=true}}Login{{/paper-button}}
              {{/if}}
            </div>
        {{/paper-form}}
      {{/card.content}}
    {{/paper-card}}
  </div>
</div>
